<!DOCTYPE html>
<html>
	<head>
		<%- include head.ejs %>
		<%- include script.ejs %>
	</head>
	<body>
		<%- include top.ejs %>
		<div class='content'>
			
		</div>
		<script type="text/javascript">			
			$(document).ready(function() {
				var bi = new BusyIndicator($(".content"));
				bi.show();
				$.ajax({
					url: "/data/projects.json",
					type: 'GET',
					dataType: "JSON",
					success: function(projects){
						app.projects = projects;
						app.init();
					}, 
					complete: function(){
						bi.hide();
					}
				});
			});
		</script>
	</body>
</html>